<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.logpose.ph2.api.dao.db.mappers.joined.DashboardDomainMapper">
	
<!-- ************************************************************************** -->
	<resultMap id="DashBoardDevicesDTO"
		type="com.logpose.ph2.api.dto.dashboard.DashBoardDevicesDTO">
		<result column="field_id" property="fieldId"></result>
		<result column="device_id" property="deviceId"></result>
		<result column="device_name" property="deviceName"></result>
		<result column="is_display" property="isDisplay"></result>
	</resultMap>
	<select id="selectDisplayData" resultMap="DashBoardDevicesDTO">
		select
			dv.field_id as field_id,
			dv.id as device_id,
			dv.name as device_name,
			dd.is_display as is_display
		from
			ph2_devices dv
		left join
			ph2_dashboard_display dd on dv.id = dd.device_id
	</select>
</mapper>