<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.logpose.ph2.api.dao.db.mappers.joined.LeafDomainMapper">

	<select id="getSproutDay" resultType="java.lang.Integer">

	SELECT
		pdd.lapse_day
	FROM
		ph2_real_growth_f_stage pfs
		JOIN ph2_device_day pdd ON pfs.device_id = pdd.device_id 
		AND pfs.YEAR = pdd.
		YEAR JOIN ph2_model_data pmd ON pdd.ID = pmd.day_id 
		AND pmd.f_value 	<![CDATA[>]]> pfs.accumulated_f 
	WHERE
		pfs.stage_start <![CDATA[<=]]> #{stage}
		AND
		pfs.stage_end <![CDATA[>= ]]>#{stage}
		AND pdd.device_id = #{deviceId}
		AND pdd.YEAR = #{year}
	ORDER BY
		pdd.lapse_day
		</select>
	
</mapper>