<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.logpose.ph2.api.dao.db.mappers.joined.Ph2FruitsModelMapper">

	<resultMap id="ModelDTO"
		type="com.logpose.ph2.api.dao.db.entity.joined.FruitModelDataEntity">
		<result column="fruitsAverage" property="fruitsAverage"></result>
		<result column="fruitsCount" property="fruitsCount"></result>
		<result column="tm" property="tm"></result>
		<result column="leafCount" property="leafCount"></result>
		<result column="realArea" property="realArea"></result>
		<result column="culmitiveCnopyPs" property="culmitiveCnopyPs"></result>
		<result column="crownLeafArea" property="crownLeafArea"></result>
		<result column="target_date" property="crownLeafArea"></result>
		<result column="realDate" property="realDate"></result>
		<result column="dailyDate" property="dailyDate"></result>
	</resultMap>

	<select id="getModelData" resultMap="ModelDTO">
		SELECT
		rf.average AS fruitsAverage,
		rf.COUNT AS fruitsCount,
		db.tm AS tm,
		rfa.COUNT AS leafArea,
		rfc.COUNT AS leafCount,
		md.culmitive_cnopy_ps AS culmitiveCnopyPs,
		md.crown_leaf_area AS crownLeafArea,
		rf.target_date as realDate,
		dd.DATE as dailyDate
		FROM
		ph2_device_day dd
		JOIN ph2_daily_base_data db ON dd.ID = db.day_id
		JOIN ph2_model_data md ON dd.ID = md.day_id
		LEFT JOIN ph2_real_fruits_data rf ON dd.device_id = rf.device_id
		LEFT JOIN ph2_real_leaf_shoots_area rfa ON dd.device_id = rfa.device_id
		LEFT JOIN ph2_real_leaf_shoots_count rfc ON dd.device_id =
		rfc.device_id
		WHERE
		dd.device_id = #{deviceId}
		AND
		dd.DATE <![CDATA[<=]]> #{targetDate}
		ORDER BY dd.DATE DESC, rf.target_date DESC
	</select>


</mapper>