<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.logpose.ph2.api.dao.db.mappers.joined.TopDomainMapper">
	
<!-- ************************************************************************** -->
	<resultMap id="DataSummaryDTO"
		type="com.logpose.ph2.api.dto.DataSummaryDTO">
		<result column="field_id" property="fieldId"></result>
		<result column="field" property="field"></result>
		<result column="device_id" property="deviceId"></result>
		<result column="device" property="device"></result>
	</resultMap>
<!-- ************************************************************************** -->
	<select id="selectFieldDeviceList" resultMap="DataSummaryDTO">
	SELECT
		ph2_devices."id" AS device_id,
		ph2_devices."name" AS device,
		ph2_fields."id" AS field_id,
		ph2_fields."name" AS field
	FROM
		ph2_fields
	JOIN ph2_devices ON ph2_fields.id = ph2_devices.field_id
	LEFT JOIN ph2_dashboard_display ON ph2_devices.id =ph2_dashboard_display.device_id
	WHERE
		ph2_dashboard_display.is_display = true
		OR
		ph2_dashboard_display.is_display is NULL
	ORDER BY
		field, device
	</select>
<!-- ************************************************************************** -->	
	<resultMap id="FieldDTO"
		type="com.logpose.ph2.api.dto.element.FieldData">
		<result column="id" property="id"></result>
		<result column="name" property="name"></result>
		<result column="value" property="value"></result>
		<result column="unit" property="unit"></result>
		<result column="casted_at" property="castedAt"></result>
		<result column="display_no" property="displayNo"></result>
	</resultMap>
<!-- ************************************************************************** -->
	<select id="selectFieldDataList" resultMap="FieldDTO">
	SELECT
		ph2_sensors.sensor_content_id as id,
		ph2_raw_data.value as value,
		ph2_raw_data.casted_at as casted_at,
		ph2_sensors.name as name,
		ph2_sensor_contents.unit as unit,
		ph2_dashboard_sensors.display_no as display_no
	FROM
		ph2_headlines
	JOIN
		ph2_raw_data on ph2_headlines.raw_data_id = ph2_raw_data.id
  	JOIN
  		ph2_sensors on ph2_raw_data.sensor_id = ph2_sensors.id
	LEFT JOIN
		ph2_dashboard_sensors ON ph2_raw_data.sensor_id = ph2_dashboard_sensors.sensor_id
  	JOIN
  		ph2_sensor_contents on ph2_sensors.sensor_content_id = ph2_sensor_contents.id
	WHERE
		ph2_headlines.device_id = #{deviceId}
	ORDER BY 
		ph2_dashboard_sensors.display_no, ph2_sensor_contents.id
	</select>
<!-- ************************************************************************** -->
	<resultMap id="RawData" type="com.logpose.ph2.api.dto.rawData.RawData">
		<result column="castedAt" property="castedAt"></result>
		<result column="sensorId" property="sensorId"></result>
		<result column="contentId" property="contentId"></result>
		<result column="value" property="value"></result>
	</resultMap>
<!-- ************************************************************************** -->
	<select id="selectRawData" resultMap="RawData">
	SELECT
		ph2_raw_data.casted_at as castedAt,
		ph2_raw_data.sensor_id as sensorId,
		ph2_raw_data.content_id as contentId,
		ph2_raw_data.value as value
	FROM
		ph2_raw_data
	JOIN
		ph2_sensors on ph2_raw_data.sensor_id = ph2_sensors.id
	WHERE
		ph2_raw_data.casted_at  <![CDATA[>=]]>  #{startDate}
	and
		ph2_raw_data.casted_at  <![CDATA[<]]>  #{endDate}
	and
		ph2_sensors.device_id = #{deviceId}
	order by 
		ph2_raw_data.casted_at asc
	</select>
<!-- ************************************************************************** -->	
	<resultMap id="FieldDataWithSensor"
		type="com.logpose.ph2.api.dto.top.FieldDataWithSensor">
		<result column="id" property="id"></result>
		<result column="name" property="name"></result>
		<result column="value" property="value"></result>
		<result column="sensorName" property="sensorName"></result>
		<result column="casted_at" property="castedAt"></result>
		<result column="url" property="url"></result>
	</resultMap>
<!-- ************************************************************************** -->
    <select id="selectDeviceDataList" resultMap="FieldDataWithSensor">
	SELECT
		ph2_devices."id" AS id,
		ph2_raw_data."value" AS "value",
		ph2_raw_data.casted_at AS casted_at,
		ph2_devices."name" AS name,
		ph2_sensors.NAME AS sensorName,
		ph2_wheather_forecast.url AS url
	FROM
		ph2_headlines
		JOIN ph2_devices ON ph2_headlines.device_id = ph2_devices."id"
		JOIN ph2_raw_data ON ph2_headlines.raw_data_id = ph2_raw_data."id"
		JOIN ph2_sensors ON ph2_raw_data.sensor_id = ph2_sensors."id"
	    JOIN ph2_wheather_forecast on ph2_headlines.device_id = ph2_wheather_forecast.device_id
	    JOIN (select device_id, max(time) as t from ph2_wheather_forecast GROUP BY device_id) s on ph2_wheather_forecast.device_id = s.device_id
		and ph2_wheather_forecast.time = s.t
		LEFT JOIN ph2_dashboard_display ON ph2_devices.id =ph2_dashboard_display.device_id
	WHERE
		ph2_sensors.sensor_content_id = #{contentId}
		and
		(
		ph2_dashboard_display.is_display = true
		OR
		ph2_dashboard_display.is_display is NULL
		)
	ORDER BY
		ph2_devices."name"
	</select>
<!-- ************************************************************************** -->	
	<resultMap id="ModelTargetDTO"
		type="com.logpose.ph2.api.dto.ModelTargetDTO">
		<result column="field_id" property="fieldId"></result>
		<result column="field_name" property="field"></result>
		<result column="device_id" property="deviceId"></result>
		<result column="device_name" property="device"></result>
		<result column="year" property="year"></result>
		<result column="startDate" property="startDate"></result>
	</resultMap>
<!-- ************************************************************************** -->	
	<select id="selectModelTargets" resultMap="ModelTargetDTO">
	SELECT
		pf.id as field_id,
		pf.name as field_name,
		pd.id as device_id,
		pd.name as device_name,
		dd.year as year,
		pf.commence_date as startDate
		FROM
		ph2_device_day dd
		JOIN
		ph2_model_data md ON dd.id = md.day_id
		JOIN
		ph2_devices pd on dd.device_id = pd."id"
		JOIN
		ph2_fields pf ON pd.field_id = pf.id
		WHERE
			dd.lapse_day = 1
		ORDER BY field_name, device_name, year
	</select>
<!-- ************************************************************************** -->
	<select id="selectRawDataTargets" resultMap="ModelTargetDTO">
	SELECT distinct
		pf.id as field_id,
		pf.name as field_name,
		pd.id as device_id,
		pd.name as device_name,
		dd.year as year,
		pf.commence_date as startDate
		FROM
		ph2_fields pf
		JOIN
		ph2_devices pd on pf."id" = pd.field_id
		JOIN
		ph2_device_day dd on pd."id" = dd.device_id

		ORDER BY field_name, device_name, year
	</select>
</mapper>